sample_codes/
photos/
.env
__init__.py

ml_insight.db
ml_insight.db-shm
ml_insight.db-wal
session_state.json
backend/uploads/

# 가상환경 폴더 무시
.venv/
venv/
env/

# 파이썬 컴파일 파일 무시
__pycache__/
*.pyc

# VSCode 설정 폴더 무시
.vscode/

*.txt

Procfile